
Assets/Sprites/Template/crisis.jpg
Assets/Sprites/Template/encounters.jpg
Assets/Sprites/Template/enemies.jpg
Assets/Sprites/Template/board1.png
Assets/Sprites/Template/board2.png
Assets/Sprites/Template/board2_2.png
Assets/Sprites/Template/board2_3.png
Assets/Sprites/Template/board2_4.png
Assets/Sprites/Template/board2_5.png
Assets/Sprites/Template/board2_6.png
Assets/Sprites/Template/board2_7.png
Assets/Sprites/Template/board3.png
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
